body {
  color: rgb(15,7,0); /*  body font color */
  background-color: rgb(50, 69, 119); /* steely puget blue */
  font-family: Arial, Tahoma, sans-serif;
  font-size: 100%;
}
header {
  width: 100%;
}
nav {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: white;
}
section {
  margin: auto;
  display: block;
  width: max-content;
}
h1 {
  padding: 10px 4px;
  font-size: 1.8em;
  font-weight: bolder;
  display: block;
  text-align: center;
}
h2 {
  font-size: 1.6em;
}
h3 {
  padding: 10px 4px;
  font-size: 1.4em;
  font-weight: bolder;
  display: block;
  text-align: center;
}
nav ul {
  color: orange;
  background-color: white;
  padding-left: 2em;
  margin: 0.4em 0em;
}
li {
  display: inline;
  margin: 0.2em 0em;
}
table, th, td {
  border: black 2px solid;
  padding: 4px;
  text-align: center;
  color:rgb(2,71,28);
  background-color: rgb(255,213,171); /* report background */
}
th {
  color: rgb(98,50,3);  /* report headers */
  font-weight: bolder;
}
figure {
  width: 100%;
}
figcaption {
  font-size: .5em;
  text-align: center;
  display: none;
}
img {
  display:block;
  padding: 10px;
  width: 600px;
  margin: auto;
}
#boldme {
  font-weight: bold;
}
.highlightfont {
  color:rgb(2,71,28);
  background-color: rgb(255,213,171);
  font-family: 'Courgette', cursive;
}
.gfontalpha {
  color: rgb(177,119,61); /* a font color  */
  font-family: 'PT Sans', sans-serif;
}
.gfontbravo {
  color: rgb(1,3,10);
  font-family: 'Courgette', cursive;
}
:visited {
  color: rgb(9,24,66); /* alternate font */
}